/* || VARIABLES */
:root {
  /* || COLORS */
  --prim-navy-blue: #2c3e50;
  --sec-teal: #1abc9c;
  --regular-font-size: clamp(
    1.25rem,
    calc(1.25rem + ((1vw - 0.48rem) * 0.3472)),
    1.5rem
  );
  --h1-font-size: clamp(2.75rem, calc(2.75rem + ((1vw - 0.2rem) * 1.25)), 4rem);
  --h2-font-size: clamp(
    2.25rem,
    calc(2.25rem + ((1vw - 0.48rem) * 1.0417)),
    3rem
  );
  scroll-behavior: smooth;
}

/* || RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}

/* ||UTILITY CLASSES */
.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: 600;
}
.color-white {
  color: white;
  fill: white;
}
.color-primary {
  color: var(--prim-navy-blue);
  fill: var(--prim-navy-blue);
}
.bg-white {
  background-color: white;
}
.bg-primary {
  background-color: var(--prim-navy-blue);
}
/* .bg-secondary {
  background-color: var(--sec-teal);
} */
.text-center {
  text-align: center;
}

/* ||General Styling */
body {
  font-family: "Montserrat", Arial, "Noto Sans", sans-serif;
}
.content-grid {
  display: grid;
  grid-template-columns: [full-width-start] 10vw [content-start] 1fr [content-end] 10vw [full-width-end];
}
.content-grid > * {
  grid-column: content;
}
.content-grid > .full-width {
  grid-column: full-width;
}
.section {
  min-height: 100vh;
  padding: 6.5rem 1rem 5rem;
}
h1 {
  font-size: var(--h1-font-size);
}
h2 {
  font-size: var(--h2-font-size);
}
.star-divider {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.divider {
  width: clamp(5rem, 35%, 7rem);
  height: 5px;
  border-radius: 1rem;
}
.star {
  width: 40px;
}

/* Nav Bar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  background-color: var(--prim-navy-blue);
  padding: 1.5rem 0;
}
.navbar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1rem;
}
.logo {
  font-size: var(--regular-font-size);
  text-align: center;
}
.navbar__ul {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar__ul a:hover {
  color: var(--sec-teal);
}
